header {
	background: var(--nav-background);
	color: var(--color-nav);
	font-family: $font-alt;
	font-weight: 500;
	line-height: 1;
	padding-bottom: space(3);
	position: relative;
	z-index: 5;
}

.navigation {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.navigation ul {
	align-items: center;
	display: flex;
}

.header-nav li {
	display: block;
	margin-top: space(2);
}

.header-nav > * + * {
	margin-left: space(6);
}

.header-nav a:hover,
.header-nav a[aria-current] {
	color: var(--contrast);
}

.header-nav:first-child {
	margin-left: space(15);
}

.left__nav {
	background: var(--nav-background);
	display: block;
	height: 100%;
	margin-top: -56px;
	overflow: hidden;
	position: absolute;
	width: 230px;
}

.hero__navigation li a {
	align-items: center;
	color: var(--color-nav);

	display: block;
	height: 40px;
	justify-content: center;
	line-height: 40px;
	margin: space(1);
}

.hero__navigation {
	margin-top: 65px;
}
