:root {
	--border: #d5e3ec;
	--color: #121c42;
	--background-light: #fff;
	--background: #f7fafb;
	--contrast: #4869ee;
	--space: 8px;
	--nav-background: #333;
	--color-nav: #fff;
}

.dark {
}
// OUTILS
// ==================
@import 'tools/mixins';
@import 'tools/functions';
@import 'tools/typography';
@import 'tools/animations';
@import 'tools/layout';
@import 'tools/reset';

// GENERIC
// ==================
body {
	background: var(--background);
	color: var(--color);
	font-family: $font;
	font-size: 16px;
	line-height: 1.6;
	scroll-margin: 100px 0 0 0;
}

body.light {
	background: var(--background-light);

	&::after {
		display: none;
	}
}

body::after {
	content: '';
	display: block;
	height: 506px;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 580px;
	z-index: -1;
}

::selection {
	background: var(--constrast);
	color: var(--background-light);
}

// MODULES
// ==================
@import 'modules/nav';

// PAGE
// ==================
